.header {
    width: 100%;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
    padding: 0.6rem 3rem 0.6rem 3rem;
}

.logoImg {
    width: 10.05rem;
    height: 1.7rem;
}

.headerRight {
    float: right;
}

.headerRightItem {
    width: 7.1rem;
    height: 1.55rem;
    line-height: 1.55rem;
    border-left: 1px solid rgb(228, 231, 232);
    padding-left: 1rem;
    box-sizing: border-box;
    /*字体样式*/
    font-size: 0.7rem;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(134, 138, 144, 1);
}

.headerImgItem {
    font-size: 0.7rem;
    font-weight: 400;
    color: rgba(80, 80, 80, 1);
    margin-right: 1rem;
}

.headeImg {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.msgIcon {
    width: 0.55rem;
    height: 0.6rem;
}

.updateInfoIcon {
    width: 0.65rem;
    height: 0.65rem;
}

.loginOutIcon {
    width: 0.6rem;
    height: 0.65rem;
}

.headeImg,
.msgIcon,
.updateInfoIcon,
.loginOutIcon {
    margin-right: 0.3rem;
}

.newtips {
    width: 1.45rem;
    height: 0.6rem;
    background: rgba(246, 78, 61, 1);
    border-radius: 4px;
    font-size: 0.57rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-left: 0.3rem;
}
.connectTips{
    width:22.7rem;
    height:7.35rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.15);
    border-radius:2px;
    position: absolute;
    top:1rem;
    right:1rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
}
.header .tipsTitle{
    margin-bottom: 0.5rem;
    width: 21.5rem;
    box-sizing: border-box;
}
.closeIcon{
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.5rem;
}
.goDetailBtn{
    width:4rem;
    height:1.3rem;
    background:rgba(2,149,210,1);
    border-radius:4px;
    line-height: 1.3rem;
    position: absolute;
    bottom: 0.5rem;
    right:0.5rem;
    text-align: center;
}
.header_msgContain{
    width: 38.55rem;
    height: 44rem;
    position: absolute;
    right: 0;
    top:3rem;
    z-index: 9999;
    overflow: hidden;    
    box-sizing: border-box;
}
.leftShortMsg{
    width:16.5rem;
    height:44rem;
    background:rgba(240,241,242,1);
    border:0px solid rgba(222,225,226,1);
    box-shadow:0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-right: 1px solid rgba(209,209,209,1)
   
}
.rightDetailContain{
    width:22.05rem;
    height:47rem;
    background:rgba(240,241,242,1);
    overflow: hidden;
    box-sizing: border-box;
}
.rightDetailMsg{
    width:22.05rem;
    height:32rem;
    background:rgba(240,241,242,1);
    overflow: hidden;
    padding: 0 0.5rem;
    box-sizing: border-box;
}
.headerMsgTitle{
    width:16.4rem;
    height:2.3rem;
    background:rgba(240,241,242,1);
    line-height: 2.3rem;
}
.msg_dropDownImg{
    width:0.4rem;
    height:0.65rem;
    margin: 0 1rem 0 1rem;
}
.msg_shortMsgItem{
    width:15.2rem;
    height:5.4rem;  
    border:1px solid rgba(222, 225, 226, 1);
    border-radius:2px;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
}
.msg_shortMsgItemChoosed{
    background:rgba(254,249,237,1);
}
.msgItemCloseImg{
    width:0.6rem;
    height:0.65rem;
    /* margin-right: 0.5rem; */
}
.msg_centerMargin{
    margin: 0.5rem 0 1rem;
}
.msg_rightArrowIcon{
    width:0.3rem;
    height:0.5rem;
    position: absolute;
    top:2.5rem;
    right:0.5rem;
}
.msgMark{
    width:0.2rem;
    height:0.2rem;
    background:rgba(246,78,61,1);
    border-radius:50%;
    display: inline-block;
}
.rightDetailMsgTitle{
    height: 2.3rem;
    border-bottom: 1px solid rgba(209,209,209,1);
    line-height: 2.3rem;
}
.msg_time{
    margin: 0.5rem auto;
    text-align: center;
}

.leftmsg{
    background:rgba(255,255,255,1);
    border-radius:2px;
    padding: 0.5rem;
    margin:0 5rem 0.5rem 0.5rem;
    line-height:0.9rem;
    width:fit-content;
}
.rightDetailMsg .rightmsg{
    background:rgba(2,149,210,1);
    color: #fff;
    margin:0 0.5rem 0.5rem 5rem;
    width:fit-content;
}
.sendMsgContain{
    width:22.05rem;
    height:12rem;
    box-sizing: border-box;
    background:rgba(255,255,255,1);
    text-align: right;
}
.sendMsg{
    width:22.05rem;
    height:10rem;
    background:rgba(255,255,255,1);
    resize: none;
    padding: 0.5rem;
    box-sizing: border-box;
}
.sendBtn{
    width:4.3rem;
    height:1.65rem;
    background:rgba(240,241,242,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    display: inline-block;
    text-align: center;
    line-height: 1.65rem;
    margin-right: 0.5rem;
}