.patientDetail .TabsContain{
    margin-right: 34rem;
    overflow: hidden;
    height: 2rem;
}
/* 提醒页面 */
.patientDetail .tipUsingContain,.patientDetail .historyTipsContain{
    width:80rem;
    background:rgba(255,255,255,1);
    border:0px solid rgba(209,209,209,1);
}

.patientDetail .tipUsingContain{
    height:12.96rem;
    margin: 1rem 0 2rem 0;

}
.patientDetail .historyTipsContain{
    height:30.96rem;
}
.patientDetail .tipsItem,.patientDetail .tipsTitle{
    height: 4rem;
    box-sizing: border-box;    
    border-bottom: 1px solid rgba(209,209,209,0.6);
}
.patientDetail .tipsTitle{
    line-height: 4rem;
}
.patientDetail .tipsItem{
    padding: 1rem;
    line-height: 1rem;
}
.tipsItem a{
    display: inline-block;
    margin-left: 2rem;
}
.tipsItem:nth-last-of-type(1){
    border-bottom: none;
}
.historyTipsContain div:nth-last-of-type(2){
    border-bottom: none;
}
.patientDetail .blueTitleMark{
    margin-top: 1.55rem;
    margin-left: 1rem;
}
/* 提醒页面操作弹窗 */
.patientDetail .delCover{
    width:40rem;
    height:11.9rem;
}
.pd_coverLabel{
    width: 5rem;
    display: inline-block;
}
.pd_coverLabelDiv{
    margin-bottom: 1rem;
}
.pd_detailCover{
    width:45rem;
    height:14.4rem;
}
.pd_sendTime{
    width:32.3rem;
    height:2.74rem;
    background:rgba(240,241,242,1);
    border-radius:0rem; 
}

/* 随访信息 */
.pd_followUpContain{
    width: 60rem;
    /* margin-left:8rem; */
    margin: 1rem auto;
}
.pd_followShotMsg{
    width: 16rem;
    height: 46rem;
    background:rgba(255,255,255,1);
    border:0px solid rgba(223,226,227,1);
    margin-right: 1rem;
}
.pd_followShotMsgItem{
    width: 16rem;
    height: 6rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(223,226,227,1);
}
.pd_choosedMsg{
    background: #F0F1F2;
    border:1px solid rgba(196,202,209,1);
}
.pd_itemCenterMargin{
    margin: 0.6rem 0 1.2rem 0 ;
}
/* 随访信息表 */
.pd_followUpDetail{
    width:42.95rem;
    height:46.01rem;
    background:rgba(255,255,255,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    padding: 2rem 3rem 0 3rem;
}
.pd_followUpDetailHeader{
    width:37.85rem;
    height: 3rem;
    text-align: center;
}
.pd_followUpDetailTitle{
    margin: 0 auto;
}
.pd_followUpDetailDoc{
    margin: 0.6rem 0 0.3rem 0 
}
.pd_patientInfo{
    width:37.85rem;
    height:8.2rem;
}
.pd_firstRow{
    width: 15rem;
    margin-left: 2rem;
}
.pd_secondRow{
    width: 11rem;
}
.pd_rowItem{
    margin-top: 1.8rem;
}
.pd_followUpTableContain{
    margin-top: 2rem;
}
/* 患者信息 */
.patientInfoContain{
    width: 60rem;
    margin: 0.5rem auto 0 ;
}
.pd_LeftContain{
    width:42.95rem;
    height:47.4rem;
    background:rgba(255,255,255,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    padding: 0 2rem;
    margin-right: 0.5rem;
    box-sizing: border-box;
}
.pd_title{
    margin: 1.5rem auto 0.5rem;
    text-align: center;
}
.pd_lastTime{
    border-bottom: 1px solid rgba(209,209,209,1);
    width: 38.95rem;
    height: 1rem;
    text-align: right;
    margin-bottom: 0.5rem;
}
.pd_basicInfo{
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(209,209,209,1);
    margin-bottom: 0.5rem;
}
.pd_blueTitleMark{
    display: inline-block;
    width:0.2rem;
    height:0.6rem;
    background:rgba(3,211,216,1);
    margin-right: 0.5rem;
}
.pd_userInfoItem{
    margin: 1rem 0 0 2rem;
}
.pd_userInfoItemColumn{
    width: 16rem;
}
.pd_userInfoItemColumnSec{
    width: 12rem;
}
.pd_diseaseType{
    width:2.95rem;
    height:1.3rem;
    background:rgba(241,241,241,1);
    border:1px solid rgba(209,209,209,1);
    border-radius:2px;
    display: inline-block;
    margin-left: 0.5rem;
    text-align: center;
    line-height: 1.3rem;
}
.pd_tableContain{
    margin: 0.5rem 0;
}

/* 右侧备注信息 */
.pd_remarkInfo{
    width:16.1rem;
    height:10.57rem;
    background:rgba(255,255,255,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    padding: 0.5rem;
}
.pd_remarkInfoTitle{
    margin-bottom: 0.5rem;
}
.pd_upload{
    width:16.05rem;
    height:14.85rem;
    background:rgba(255,255,255,1);
    border:1px solid rgba(222, 225, 226, 1);
    margin-top: 0.5rem;
    padding: 0.5rem;
    position: relative;
}
.pd_uploadBottom{
    width:16.05rem;
    height:1.4rem;
    background:rgba(241,242,244,1);
    position: absolute;
    line-height: 1.4rem;
    bottom: 0;
    left: 0;
    padding: 0 0.5rem;
    box-sizing: border-box;
}
.pd_exceptionContain{
    position: relative;
    padding-top:0.5rem; 
}
.pd_dashDiv{
    border-bottom: 1px dashed rgba(209,209,209,1);
    margin: 0.5rem 0 1rem 0;
}
.pd_exceptionTitle{
    position: absolute;
    left: 16rem;
    top:0;
    /* width:6.25rem; */
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    background: #fff;
}
.pd_timeChoose{
    text-align: center;
}
.pd_rangeSpan{
    display: inline-block;
    width:9.1rem;
    height:1.6rem;
    margin-left: 0.5rem;
}
.pd_infoItem{
    width:37.9rem;
    height:14.25rem;
    background:rgba(255,255,255,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    box-shadow:0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.1);
    border-radius:0rem;
}
.pd_leftTable{
    width:18rem;
    height:14.25rem;
    border-right: 1px solid rgba(209,209,209,1)
}
.pd_rightTable{
    height: 14.25rem;
    width: 19.8rem;
}
.pd_titleTab{
    margin: 0 auto;
}
.pd_titleTab .pd_titlechoosed{
    border-top: none;
}
.pd_tabDiv{
    height: 2rem;
    box-sizing: border-box;
}
.pd_rightTableTitle{
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(209,209,209,1);
    box-sizing: border-box;
}
.pd_choosed{
    height: 2rem;
    box-sizing: border-box;
    display: inline-block;
    color: #03D3D8;
    border: none;
    border-top: 1px solid rgba(209,209,209,1);
    border-bottom: 3px solid #03D3D8;
    background: #fff;
}
.pd_chooseItem{
    margin-left: 1rem;
}
.pd_tableItem{
    width:19.8rem;
    height:2.3rem;
    padding: 0 1rem;
}
.pd_tableItemContain{
    height:2.3rem;
    border-bottom: 1px solid rgba(209,209,209,1);
    box-sizing: border-box;
    line-height: 2.3rem;
}
.pd_centerMarg{
    margin-left: 1rem;
}
.pd_tableItemChoosed{
    border-left: 3px solid #03D3D8;
    background: #F6F8FC;
}
.pd_leftTableHeader{
    width: 15rem;
    height: 5rem;
    border-bottom: 1px solid rgba(209,209,209,1);
    margin: 0 auto;
}
.pd_leftTableHeader div{
    text-align: center;
    margin-top: 0.5rem;
}
.pd_echart{
    width:15rem;
    height:9rem;
}
.pd_echartContain{
  margin-left: 1rem
}
.pd_echartContain .zr-element{
    width:15rem;
}