/*选择区域样式*/
.dateChoose{
    width: 80rem;
    height: 6rem;
    background:rgba(255,255,255,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    border-radius:2px;
    padding:1rem 0 0 2rem;
}
.chooseDayItem{
    height: 1.6rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.dayRadio{
    margin: 0 1rem 0 1rem;
}

/*表格数据样式*/
.tabContain{
    width:80rem;
    height:37.8rem;
    background:rgba(255,255,255,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    box-shadow:0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.1);
    border-radius:2px;
}
.handleContain{
    height: 3rem;
    padding: 1rem 0 0.5rem 0;
    background-color: #F0F1F2;
}
.groupHandle{
    width:9.5rem;
    height:1.5rem;
    background:rgba(255,255,255,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    border-radius:2px;
    margin-right: 1rem;
    color:rgba(134,138,144,1)
}
.refreshBtn{
    width:3.75rem;
    height:1.5rem;
    background:rgba(255,255,255,1);
}
.delBtn{
    width:1.85rem;
    height:1.5rem;
    background:rgba(255,255,255,1);
    text-align: center;
    line-height: 1.5rem;
}
.addBtn{
    width:3.5rem;
    height:1.5rem;
    background:rgba(236,87,67,1);
    margin-left: 1rem;
}
.groupHandle,.refreshBtn,.delBtn,.addBtn{    
    text-align: center;
    line-height: 1.5rem;
    border-radius: 2px;
}
.refreshIcon{
    width:0.65rem;
    height:0.65rem;
    margin-right: 0.3rem;
}
.tipsContain{
    width:10rem;
    height:7.6rem; 
    background:rgba(255,255,255,1);
    border:0.05px solid rgba(222, 225, 226, 1);
    box-shadow:0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.15);
    border-radius:2px;
    position: absolute;
    right:0;
    z-index: 999;
}
.tipsContain .tipsTitle{
    width: 10rem;
    line-height: 2rem;
    padding: 0 1rem 0 1rem;
    height: 2rem;
    border-bottom: 1px solid #F0F1F2;   
}
.tipsContain .tipsItem{
    width: 10rem;
    height: 3rem;
    padding: 0 1rem 0 1rem;
}
.tipsContain .tipsMark{
    width:0.1rem;
    height:0.6rem;
    background:rgba(3,211,216,1);
    margin-right: 0.5rem;
}
.tipsType{
    margin-top: 0.5rem;
}
/*复制移动分组弹窗*/
.groupCover{
    width:40rem;
    height:17.4rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
    border-radius:2px;
    position: relative;
    opacity: none;
    left: 30rem;
    top: 16rem;
}
.groupCover_delIcon{
    width:2rem;
    height:2rem;
    background:rgba(245,245,245,1);
    border-radius:50%;
}
.coverTitle{
    padding: 1rem 0  2rem 2rem;
    text-align:justify;
    width: 37rem;
}
.groupSelect{
    width:36.5rem;
    height:1.7rem;
    background:rgba(255,255,255,1);
    border:1px solid rgba(222,225,226,1);
    border-radius: 2px;
    margin:0 0 0.5rem 2rem;
    padding-left: 1rem;
    line-height: 1.7rem;
}
.choosedImg{
    width:0.9rem;
    height:0.65rem;
    margin: 0.5rem 0.5rem 0 0;
}
.groupHandleBtm{
    width:40rem;
    height:2.8rem;
    background:rgba(240,241,242,1);
    border-radius:2px;
    padding-top: 0.5rem;
    position: absolute;
    bottom: 0;
}
.cancelBtn,.confirmBtn{
    width:4.65rem;
    height:1.85rem;
    border-radius:2px;
    line-height: 1.85rem;
    text-align: center;
}
.confirmBtn{
    background:rgba(2,149,210,1);
    margin: 0 2rem 0 2rem;
}






/*重写antd表头样式*/
.tabContain .ant-table-thead > .ant-table-selection-column{    
    border-left: 1px solid #F0F1F2;
}
.tabContain .ant-table-thead > tr > th{
    background-color: #fff;
    border-bottom: 1px solid #F0F1F2;   
}

.tabContain .ant-table-body table,.tabContain .ant-table ,.tabContain .ant-table-large,.tabContain .ant-table-scroll-position-left{
    overflow-y: scroll;
}
.tabContain .ant-table-row{
    height: 2.75rem;
}
.tabContain .ant-table-thead > tr > td{
    height: 2.75rem;
}
